.mailhistory-container{
  /*border: 2px solid red;*/
  width: 85%;
  margin: auto;
  margin-top: 6em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 7px;
  padding: 15px;
  height: 70vh;
}